---
layout: landing
title: Sample Components
permalink: /components/
---
<!-- Remove this page -->

{% include sections/hero.html %}
<header class="site-header"><!-- custom sticky nav for this view only -->
  <nav id="nav" class="navbar" role="navigation" data-spy="affix" data-offset-top="250">
    <div id="navbarinner" class="navbar-inner">
      <div class="navbar-header">
      {% include navbar-brand.html %}
      {% include nav1.html %}
      </div>
    </div>
  </nav>
</header>
{% include sections/countdown.html %}
{% include sections/features.html %}
{% include sections/generic-section.html %}
{% include sections/pricing.html %}

<section class="section">
  <div class="container row-80 text-center">
    <h1>User Cards</h1>
    <h3>Three styles of cards with or without flip animation.</h3>
    <div class="center-team row">
      <div class="user-card col-md-4 col-sm-6">
        {% include flip-card.html %}
      </div>
      <div class="user-card col-md-4 col-sm-6">
        {% include manual-flip-card.html %}
      </div>
      <div class="user-card col-md-4 col-sm-6">
        {% include static-card.html %}
      </div>
    </div>
  </div>
</section>

<section class="generic section-alt">
  <div class="row text-center">
    <h1>Extras</h1>
    <div class="col-sm-4">
      <h4>Responsive Tables</h4>
      <p>Author in HTML or Markdown</p>
        <table>
        <thead>
          <tr>
            <th>Date</th>
            <th>User</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>01/01/15</td>
            <td>johndoe@example.com</td>
            <td>Sign Up</td>
          </tr>
          <tr>
            <td>01/01/15</td>
            <td>janedoe@example.com</td>
            <td>Sign In</td>
          </tr>
          <tr>
            <td>01/01/15</td>
            <td>johndough@example.com</td>
            <td>Purchase</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-sm-4">
      <h4>User Lists</h4>
      <p>The ease of Bootstrap and more.</p>
      {% include user-list.html %}
    </div>
    <div class="col-sm-4">
      <h4>Custom Elements.</h4>
      <p>Here is a css loader.</p>
      {% include loader.html %}
    </div>
  </div>
</section>

{% include sections/testimonials.html %}
{% include sections/press.html %}
{% include map.html %}
{% include sections/team.html %}
{% include sections/aboutus.html %}
