<script type="text/x-handlebars-template" id="ride-list-template">
  {{#each rides}}
    <div class="user-list list-group text-left">
      <a href="#" class="list-group-item ">
        <img class="img-circle img" src="/img/user1.png">
        <span>Tony Stark</span>

        <span class="rating">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star-half-o"></i>
          <i class="fa fa-star-o"></i>
          <i class="fa fa-star-o"></i>
        </span>
      </a>
    </div>
  {{else}}
    There are no rides yet. Try creating one!
  {{/each}}
</script>
