{% raw %}
<script type="text/x-handlebars-template" id="ride-list-template">
  <ul>
  {{#each rides}}
    <li>
      <div>Ride ID: {{ ride_id }}</div>
      <div>Owner ID: {{ user_id }}</div>
      <div>Start: {{ start.latitude }} / {{ start.longitude }}</div>
      <div>Stop: {{ stop.latitude }} / {{ stop.longitude }}</div>
      <div>Starts At: {{ starts_at }}</div>
      <div>Max Passengers: {{ max_passengers_count }}</div>
      <div>Description: {{ description }}</div>
    </li>
  {{else}}
    <li>There are no rides here.</li>
  {{/each}}
  </ul>
</script>
{% endraw %}
