<div class="card-container">
  <div class="card"><!-- static card -->
    <div class="front">
      <div class="cover">
      </div>
      <div class="user">
        <img class="img-circle" src="/img/user1.png"/>
      </div>
      <div class="content">
        <div class="main">
          <h3 class="name">John Doe</h3>
          <p class="user-type">Subscriber</p>
          <h5><i class="fa fa-envelope-o fa-fw text-muted"></i> johndoe@example.com</h5>
          <h5><i class="fa fa-map-marker fa-fw text-muted"></i> Denver, CO, USA - 128.177.113.102</h5>
          <h5><i class="fa fa-clock-o fa-fw text-muted"></i> Last Seen: 05:37 GST </h5>
          <div class="social-media text-center">
            <a href="//github.com/#" target="_blank" class="github"><i class="fa fa-github"></i></a>
            <a href="//twitter.com/#" target="_blank" class="twitter"><i class="fa fa-twitter"></i></a>
            <a href="//facebook.com/#" target="_blank" class="facebook"><i class="fa fa-facebook"></i></a>
            <a href="//linkedin.com/#" target="_blank" class="linkedin"><i class="fa fa-linkedin"></i></a>
          </div>
          <h4 class="text-center">Actions</h4>
          <button class="btn btn-sm btn-info" >Confirm</button>
          <button class="btn btn-sm btn-warning" >Reset</button>
          <button class="btn btn-sm btn-danger" >Delete</button>
        </div>
        <div class="footer">
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-o"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
          </div>
        </div>
      </div>
    </div>
  </div><!-- end static card -->
</div><!-- end card-container -->
