<section class="team section-alt parallax tile" style="background-image:url(/img/backgrounds/bg.jpg) !important;">
  <div class="container row-80 text-center">
    <h1>User Cards</h1>
    <h3>Three styles of cards with or without CSS flipping action.</h3>
      <div class="center-team row">
        <div class="user-card col-md-4 col-sm-6">
          {% include flip-card.html %}
        </div>
        <div class="user-card col-md-4 col-sm-6">
          {% include manual-flip-card.html %}
        </div>
        <div class="user-card col-md-4 col-sm-6">
          {% include static-card.html %}
        </div>
      </div>
  </div>
</section>
